body{
    margin: 0px;
    padding: 0px;
}

/* navbar */

header{
	z-index: 1000;
	position: fixed;
    width: 100vw;
    top: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #1A187A;
    padding: 20px 0;
	transition-duration: .4s;
}
.logo{
    width: 300px;
    height: auto;
}
.navbar{
    display: flex;
}
.navbar li{
	position: relative;
    list-style: none;
}
.navbar a{
	color: #FFF;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 10px 20px;
    text-decoration: none;
	cursor: pointer;
}
.navbar i{
	color: beige;
	font-size: 1.2rem;
	margin-left: 24px;
	transition: ease .4s;
	cursor: pointer;
}

/* Hover effect */

.navbar a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: aquamarine;
	left: 0;
	bottom: -4px;
	transition: ease .4s;
}
.navbar a:hover:after{
	width: 100%;
}
.navbar i:hover{
	width: 100%;
	transform: translateY(-4px);
}

/* Sticky Header */

header.sticky{
	padding: 12px 80px;
	background: black;
}
.sticky .navbar a{
	color: #fff;
}
.sticky .navbar a::after{
	background: white;
}
.sticky .m-btn{
	background: #fff;;
	color: gray;
	font-weight: 500;
}

/* Home */

main{
    margin: 0px;
    padding: 0px;
}

#home{
    height: 100vh;
    background-image: url(/resources/Home\ image.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-margin-top: 10vh;
   
}
#home .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.hero .title h1{
    color: #000;
	font-family: Montserrat;
	font-size: 90px;
	font-style: normal;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: -0.96px;
}
.Bold{
	font-weight: 700;
}
.hero .title h2{
	color: #1E046A;
	font-family: Montserrat;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}
.intro p{
    color: #000;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
#home img{
    height: 70vh;
	width: auto;
	float: right;
    align-items: center;
}
#home i{
	color: #670E86;
	font-size: 30px;
}
.bttn{
	border-radius: 6px;
	border: 1px solid white;
	background: #171495;
	color: #FFF;
	padding: 15px 50px;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}

/* #about, #contact{
	height: 100vh;
	background-color: #FFF;
	scroll-margin-top: 10vh;
} */

/* Pdoduct Banner */

.banner{
	height: 600px;
	background: transparent;
}
.banner-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.banner-left{
	padding: 0px 0px;
	width: 50%;
	overflow: hidden;
}
.widesquare{
	display: flex;
	height: 328px;
	overflow: hidden;
	background: #FFF;
}
.playstation img{
	margin-top: 30px;
	margin-left: -50px;
	width: 500px;
	height: auto;
}
.details{
	padding: 70px 30px 70px 0px;
}
.details h1{
	color: #000;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
}
.details p{
	color: #000;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
}
.squarebanner{
	display: flex;
	height: 272px;
	overflow: hidden;
	background: #ADC2D7;
}
.sound img{
	margin-top: -180px;
	margin-left: -130px;
	width: 650px;
}
.description{
	padding: 40px 80px;
}
.description h1{
	color: #000;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 137.931% */
}
.description p{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
}
.light{
	font-weight: 200;
}
.banner-right{
	padding: 0px 0px;
	width: 50%;
	overflow: hidden;
}
.banner-right{
	display: flex;
	height: 600px;
	padding: 30px 0px 30px 50px;
	background: rgb(240, 240, 240);
	overflow: hidden;
}
.computer img{
	margin-right: -520px;
	height: 520px;
	padding: 10px 0px 0px 50px;
}
.info{
	padding: 150px 0px 150px 30px;
}
.info h1{
	color: #000;
	font-family: Montserrat;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 60px;
}
.info p{
	color: black;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
}

/* Category */

.category{
	padding: 80px 160px;
	background: #FAFAFA;
}
.sironam{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.sironam h1{
	width: 288px;
	color: black;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px; /* 133.333% */
	letter-spacing: 0.24px;
}
.icon{
	display: flex;
	gap: 20px;
	color: #670E86;
	font-size: 28px;
}
.block-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(128px, 180px));
	grid-gap: 50px;
	align-items: center;
	margin-top: 20px;
	justify-content: space-between;
}
.box{
	display: flex;
	background: #EDEDED;
	padding: 30px 30px;
	border-radius: 10px;
	cursor: pointer;
	transition: all .30s;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.box i{
	font-size: 40px;
}
.box p{
	color: black;
	text-align: center;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	padding-top: 10px;
	line-height: 20px;
}

/* Product Cart */

.product{
	padding: 30px 160px;
	background: white;
}
.prod-intro{
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.prod-intro a{
	color: black;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 0px 40px 80px 0px;
    text-decoration: none;
	cursor: pointer;
}
/* .product-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
	grid-gap: 50px;
	align-items: center;
	margin-top: 20px;
	justify-content: space-between;
} */
.product-content{
	padding-top: 50px;
	display: flex;
	gap: 50px;
}
.cart-item{
	padding: 20px 20px;
	background: #F6F6F6;
	width: 200px;
	height: auto;
	align-items: center;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	transition: ease .4s;
}
.cart-item:hover{
	transform: translateY(-4px);
}
.cart-item img{
	padding: 10px 0px;
	width: 150px;
	height: auto;
}
.cart-item p{
	color: black;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-align: center;
}
.cart-item h1{
	color: black;
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-style: italic;
	font-weight: 700;
	line-height: 24px; /* 100% */
	letter-spacing: 0.72px;
}
.btton{
	border-radius: 6px;
	background: black;
	color: #FFF;
	padding: 10px 20px;
	text-align: center;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

/* Offer */

.currect-offer{
	padding: 60px 0px;
	background: #958AD4;
	height: 472px;
}
.offer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	overflow: hidden;
}
.offer h1{
	color: #25177B;
	text-align: center;
	font-family: Montserrat;
	font-size: 72px;
	font-style: normal;
	font-weight: 900;
	line-height: 72px;
	letter-spacing: -0.72px;
}
.sale{
	color: #FFF;
	font-family: Montserrat;
	font-size: 72px;
	font-style: normal;
	font-weight: 900;
	line-height: 72px;
	letter-spacing: -0.72px;
}
.offer p{
	color: #FFF;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 32px;
	width: 383px;
}
.img-left img{
	height: 342px;
	width: auto;
	margin-left: -120px;

}
.img-right img{
	height: 342px;
	width: auto;
	margin-right: -120px;
}

/* Footer */

.footer{
	width: 100%;
	background: #0E071B;
	padding: 100px 160px;
}
.footer-content{
	display: flex;
	justify-content: space-between;
}
.footer-icons{
	width: 190px;
	display: flex;
	justify-content: space-between;
}
.footer-icons i{
	color: #FFF;
	font-size: 24px;
}
.footer-services{
	display: flex;
	width: 295px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	flex-shrink: 0;
}
.footer-services h1{
	color: white;
	font-family: Montserrat;
	font-size: 16px;
	font-style: italic;
	font-weight: 100;
	line-height: 16px;
}
.footer-services p{
	color: white;
	font-family: Montserrat;
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
	line-height: 32px;
}
.footer-assistance{
	display: flex;
	width: 295px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	flex-shrink: 0;
}
.footer-assistance h1{
	color: white;
	font-family: Montserrat;
	font-size: 16px;
	font-style: italic;
	font-weight: 100;
	line-height: 16px;
}
.footer-assistance p{
	color: white;
	font-family: Montserrat;
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
	line-height: 32px;
}