body{
    margin: 0px;
    padding: 0px;
}

/* navbar */

header{
	z-index: 1000;
	position: fixed;
    width: 100vw;
    top: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #1A187A;
    padding: 20px 0;
	transition-duration: .4s;
}
.logo{
    width: 300px;
    height: auto;
}
.navbar{
    display: flex;
}
.navbar li{
	position: relative;
    list-style: none;
}
.navbar a{
	color: #FFF;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 10px 20px;
    text-decoration: none;
	cursor: pointer;
}
/* .navbar a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: aquamarine;
	left: 0;
	bottom: -4px;
	transition: ease .4s;
}
.navbar a:hover:after{
	width: 100%;
} */
.navbar i{
	color: beige;
	font-size: 1.2rem;
	margin-left: 24px;
}

/* Home */

main{
    margin: 0px;
    padding: 0px;
}

#home{
    height: 100vh;
    background-image: url(/resources/Home\ image.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-margin-top: 10vh;
   
}
#home .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.hero .title h1{
    color: #000;
	font-family: Montserrat;
	font-size: 90px;
	font-style: normal;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: -0.96px;
}
.Bold{
	font-weight: 700;
}
.hero .title h2{
	color: #1E046A;
	font-family: Montserrat;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}
.description p{
    color: #000;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
#home img{
    height: 70vh;
	width: auto;
	float: right;
    align-items: center;
}
#home i{
	color: #670E86;
	font-size: 30px;
}
.bttn{
	border-radius: 6px;
	border: 1px solid white;
	background: #171495;
	color: #FFF;
	padding: 15px 50px;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}

/* #about, #contact{
	height: 100vh;
	background-color: #FFF;
	scroll-margin-top: 10vh;
} */

.product{
	height: 600px;
	background: rgb(240, 240, 240);
}
.banner-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.banner-left{
	padding: 0px 0px;
	width: 50%;
	overflow: hidden;
}
.widesquare{
	display: flex;
	height: 328px;
	overflow: hidden;
	background: #FFF;
}
.playstation img{
	margin-top: 30px;
	margin-left: -50px;
	width: 500px;
	height: auto;
}
.details{
	padding: 70px 30px 70px 0px;
}
.details h1{
	color: #000;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
}
.details p{
	color: #000;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
}
.squarebanner{
	display: flex;
	height: 272px;
	overflow: hidden;
	background: #ADC2D7;
}
.sound img{
	margin-top: -180px;
	margin-left: -130px;
	width: 650px;
}
.description{
	padding: 40px 80px;
}
.description h1{
	color: #000;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 137.931% */
}
.description p{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
}
.light{
	font-weight: 200;
}
.banner-right{
	padding: 0px 0px;
	width: 50%;
	overflow: hidden;
}
.banner-right{
	display: flex;
	height: 600px;
	padding: 20px 0px 20px 50px;
	background: rgb(240, 240, 240);
	overflow: hidden;
}
.computer img{
	height: 580px;
}
.info{
	padding-top: 30px;
	padding-left: 40px;
}
.info h1{
	color: #000;
	font-family: Montserrat;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 60px;
}
.info p{
	color: black;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
}